{% extends "base.j2" %}

{% block content%}

hi react test 1 
<div id ="component-goes-here"></div>

<script>
	// render_LikeButton();
	render(LikeButton, "component-goes-here");
</script>
{% endblock content%}