doctype html
html(lang="en")
  head
    include meta.pug
    title= title
    link(rel='stylesheet', href='/css/all.css')/
    include javascript_main.pug
  body
    header
    #layout1_1.layout1
        h1.h1= message
    #layout1_2.layout1
    #layout1_3.layout1
    footer    