<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "keywords" content = "HTML,ASP">
        <script src="js/JavaScript.js"></script>
        <title>{{title}}</title>
    </head>
    <body>
        This is a very simple HTML page 11.
    </body>
</html>