<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "keywords" content = "HTML">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/test.js"></script>
        <script src = "https://pugjs.org/js/pug.js"></script>
        <title>Simple Html Page</title>
    </head>
    <body>
        This is a very simple HTML page 2323.
        <br>
        <button onclick="test()">Test</button>

    </body>
</html>